/*Overriding the margin property of body.*/
body {
	margin: 0 !important;
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: Century Gothic;
	background-color: #7F4B3B;
	
}
div{
	display:block;	
}
.nav_menu{
	height : 60px;
	position: relative;
    width: 85%;
	background-color: #E23A2B;
	margin-top: 20px;
	margin-left: 100px;
}
#resto_logo{
	width: 45%;
	height: 20%;
	display:block;
	margin-top: 20px;
	margin-left: 375px;
}
.tabBtn {
    background-color:  #E23A2B;
    color: white;
    padding: 13px;
    font-size: 20px;
	font-weight: bold;
    border: none;
    cursor: pointer;
	width: 220px;
	margin-left: 7px;
	border: none;
}

.tab {
    position: relative;
    display: inline-block;
	margin-top: 5px;
}

.tab:hover .tabBtn {
	color: #FFFFA5;
    background-color: #D35347;
}

.tabBtn:focus, .active{
	color: #FFFFA5;
    background-color: #D35347;
}

.content-menu{
	width:81%;
	background-color: #F7F7B4;	
	margin-left: 125px;
	height: 100%;
}
.content-screen{
	width:100%;
	background-color: #F7F7B4;
	height: 700px;
	margin-bottom: 10px;
	border-color : black;
	border-style: double;
	/*padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;*/
	overflow-y: scroll;
}
.dish-content{
	border-color : black;
	border-style: double;
	margin-left: 40px;
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
	width: 42%;
}
.dish-left{
	float: left;
}
.dish-right{
	float: right;
}
.dish-def{
	float: right;	
}
#content-header{
	text-align: center;
}

button.btnClass{
	color: #fffeee;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	background-color: #fa3A2B;
	font-size: 14pt;
	height: 30px;
	width: 100px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	border-radius: 5px;
}
button.btnClass:hover,
button.btnClass:focus{
    text-decoration: none;
    cursor: pointer;
	color: #FFFFA5;
    background-color: #D35347;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefcfa;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d3d3d3;
    text-decoration: none;
    cursor: pointer;
}


.modal-body {
	padding: 2px 16px;
}
#restologoLogin{
	margin-top: 20px;
	width: 180px;
	height: 180px;
}

div#section {
	vertical-align: center;
	float: center;
	overflow: auto;
	text-align: center;
	background-color: #fece7a;
	height: 100%
}


.inputClass{
	width: 250px;
	height: 25px;
}

button.modalBtn{
	font-size: 14pt;
	height: 40px;
	width: 150px;
	margin-bottom: 20px;
	color: #fffeee;
	background-color: #fa3A2B;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	border-radius: 5px;
}

button.modalBtn:hover,
button.modalBtn:focus{
	text-decoration: none;
    cursor: pointer;
	color: #FFFFA5;
    background-color: #D35347;
}

#cartItems{
	width: 90%;
	height: 100%;
}

.ribbons{
	width: 100px;
	height: 100px;
}
