/* ------------------------------------------------------------------------------
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Copyright (C) Rococo Global Technologies, Inc - All Rights Reserved 2016
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html.
* @author Loregge Kandt
* @version 0.01
* Version History
* [04/11/2016] 0.01 – Loregge Kandt – initial codes
* [07/20/2016] 0.02 – Teresita Tala P. Rabago – some codes
* [07/26/2016] 0.03 – Teresita Tala P. Rabago – some codes
* [07/25/2016] 0.04 – Keith Edmond L. Araneta – added some codes
* [07/27/2016] 0.05 – Teresita Tala P. Rabago – edited some codes
* [08/10/2016] 0.06 – Teresita Tala P. Rabago – edited and added some codes
*/	

/*Style for the body*/
body {
	/*Overriding the margin property of body.*/
	margin: 0 !important;
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: Century Gothic;
	background-color: #7f4b3b;
}

div#section {
	text-align: center;
	float: center;
	overflow: auto;
	text-align: center;
	background-color: #FBFFB7;
	height: 100%;
	/*border-radius: 2%;
	border: solid;
	border-top: none;
	border-right: none;
	border-color: brown;*/
}



/* Style the Resto's logo */
img#restologo{

	width:200px;
	float:right;
	margin-right:-30px;
	z-index:1;
	position:relative;

}

img#restologo1{
	margin-top: 5%;
}

#title{
	padding-left:50px;
	color: #F7F7B4;
}
.inputClass{
	text-align: center;
	font-size: 100%;
	font-family: Century Gothic;
	width: 300px;
	height: 30px;
}

button#loginBtn{
	font-size: 16pt;
	height: 50px;
	width: 300px;
}


#adminSection {
	width: 100%;
	height: 35%;
	margin-top : 2%;
}

div#adminSection div#sectionHeader {

	width: 25%;
	float: left;
}

div#adminSection div#sectionChoices {
	width: 32%;
	float:left;
	padding:0;
}

div#adminSection img.screenIcon {
	height: 50px;
	width: 50px;
	margin: 20px;
	vertical-align: middle;
	padding-left : 20px;
	padding-right : 10px;
}

div#adminSection img#screenIcon2 {
	height: 50px;
	width: 53.359px;
	margin: 20px;
	vertical-align: middle;
	padding-left : 20px;
	padding-right : 10px;
}

#content{
	height:45%;
	width: 80%;
	margin-left: 150px;
	margin-right: 150px;
	background: #F7F7B4;
	overflow-y: scroll;
	padding-bottom: 50px;
}

div#content div#contentHeader{
	background-color: #fece7a;
	height: 100px;
	vertical-align: center;
}

div#content div#contentHeader img#headerIcon {
	height: 80px;
	width: 80px;
	margin: 10px 20px 10px 30px;
	vertical-align: middle;
}

div#content div#contentHeader label#headerLabel{
	font-size: 30px;
}
button#signoutBtn{
	font-size: 14pt;
	float: right;
	height: 30px;
	width: 100px;
	margin-right: 20px;
}

button#createMenuBtn{
	font-size: 14pt;
	height: 30px;
	width: 100px;
	margin-right: 20px;
}

button.btnClass{
	font-family: Century Gothic;
	color: #fffeee;
	background-color: #fa3A2B;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	border-radius: 5px;
}
button.btnClass:hover,
button.btnClass:focus{
    text-decoration: none;
    cursor: pointer;
	color: #FFFFA5;
    background-color: #D35347;
}
div#contentHome {
	background: #F7F7B4;
	height: 50%;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 80px;
}

div#contentHome img#homeIcon {

	width : 10%;

}

div#contentHome label#homeLabel{
	color: black;
	font-size: 100px;
	padding-right: 50px;
}

.tbl{
	border: 5px solid brown;
	border-spacing: 5px;
	margin: 0 auto;
}

/* Style the Table headers and Table columns */
th, td{
	border: 2px solid brown;
	padding: 10px;
	text-align: center;
}

/* Style the Dropdown list */
div.contentScreen select.OrderStatus{
	width: 95px;
	text-align-last:center;
}

/* Style the list */

#sectionChoices ul.tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
   
}

/* Float the list items side by side */
#sectionChoices ul.tab li{
	float: left;
	
}

/* Style the links inside the list items */
#sectionChoices ul.tab li a{
	background-color: #E23A2B;
    display: inline-block;
    color: white;
    padding-left: 50px;
	padding-right: 50px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
	line-height: 60px;
	font-weight: bold;
}

/* Change background color of links on hover */
#sectionChoices ul.tab li a :hover {
	background-color: #e38224;
}

/* Create an active/current tablink class */
#sectionChoices ul.tab li a:focus, .active {
	background-color: #D35347;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Style the search field  */
#searchField {
	margin-left: 50px;
	padding: 5px;
}

/* Dimensions of the search icon  */
#searchIcon {
	height: 30px;
	width: 30px;
}

/* Dimension of the search button  */
#searchBtn {
	height: 45px;
	cursor: pointer;
}


/*Cursor of the edit and delete icons*/
.tbl tr td img{
	cursor: pointer;
}

/* 'CREATE' and 'UPDATE' buttons */
.menuButtons {
	margin-left: 50px;
	font-family: Century Gothic;
	color: #fffeee;
	background-color: #fa3A2B;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	border-radius: 5px;
	
}

/* for the 'createMenuForm' */
.menuLbls {
	margin-left: 458px;
}

.menuImageBox {
	margin-left: 455px;
	height: 150px;
	width: 150px;
	border: 5px;
}

#imageBoxCreate {
	height: 149px;
	width: 149px;
}

#imageBoxUpdate {
	height: 149px;
	width: 149px;
}

.browseImage {
	margin-left: 450px;
}


.addMenuFormLabels {
	margin-left: 330px;
}

.addMenuFormInputFields {
	margin-left: 330px;
	width: 400px;
}

#submitMenuBtn {
	margin-left: 500px;
}

