/*
Disclaimer:
	This is a free CSS and HTML template from  http://chocotemplates.com/ entitled "Spring Time - Free Template".
	We modified some of the codes to fit our theme and requirements for our project. This template is purely
	CSS and HTML so the functions for the components found in the pages are created by our team.
	
	-Team Rocket
*/

* { padding:0; margin:0; outline:0; }
body {
	background:#FBFFB7;
	font-family: Verdana, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#5e5e5e;
}
input, textarea, select { font-family: Verdana, sans-serif; font-size:13px; }
textarea { overflow:hidden; }

.field { border:solid 1px #d3cfc7; background:#fff; padding:5px; }
.small-field { border:solid 1px #d3cfc7; background:#fff; padding:3px 1px; font-size:11px; }

.checkbox { width:13px; height:13px; vertical-align:top; position:relative; top:2px; }

.button { background:#eee url(../assets/button.gif) repeat-x 0 0; border:solid 1px #b1a874; color:#7f7f7f; font-size:11px; padding:2px 6px 2px 6px; cursor:pointer; line-height:14px !important; }
.button:hover { color:#333; border-color:#857b42; }


.field:focus { color:#000; border-color:#857b42;}

a img { border:0; }

a { color:#ba4c32; text-decoration: underline; cursor:pointer; }
a:hover { color:#8d341f; text-decoration: none;}

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center !important; }

h1{ font-size:22px; line-height:24px; color:#fff; font-weight: normal;}
h1 a{ color:#fff; text-decoration: none; }
h2 { font-size:15px; font-weight: normal; }
h3 { font-size:12px; line-height:14px; font-weight: normal; }
h3 a{ text-decoration: none; }



.shell { width:988px; margin:0 auto; }

#header { height:100px; background:#7f4b3b url(../assets/grid.png) repeat; white-space:nowrap; }
#header h1{ float:left; display:inline; padding-top:12px; margin-left: 20px;}
#top-navigation { float:right; white-space:nowrap; color:#fff; padding-top:15px; }
#top-navigation a{ color:#fff; }
#top-navigation span{ color:#dca598; }
#top { height:60px; }

.btnClass{
	font-family: Century Gothic;
	color: #fffeee;
	background-color: #fa3A2B;
	border: none;
	border-radius: 2px;
	width: 70px;
	height: 25px;
	padding-bottom: 2px;
}

button.btnClass:hover,
button.btnClass:focus{
    text-decoration: none;
    cursor: pointer;
    background-color: #D35347;
}

#restologo{height: 80px; width: 80px; float: left; margin-top: 5px;}

#navigation { height:40px; float: center;}
#navigation ul{ list-style-type: none;}
#navigation ul li{ float:left; display:inline; margin-right:20px; }
#navigation ul li a,
#navigation ul li a span { 	float:left; 
							height:40px;
							width: 70px; 
							background:#fa3A2B; 
							padding:0 0 0 15px; 
							font-size:14px; 
							text-align: center; 
							color: #fff;
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;}
							
#navigation ul li a span { background-position:right 0; padding:0 15px 0 0;}
#navigation ul li a { line-height:36px; color:#907525; text-decoration: none; }

#navigation ul li a.active,
#navigation ul li a:hover { background-color:#D35347;}

#navigation ul li a.active span,
#navigation ul li a:hover span{ background-color:#D35347;}

#navigation ul li a:focus, .active { font-size:14px; font-weight: bold; color:#887e42; background-color:#D35347;}
#navigation ul li a:focus span, .active span{ background-color:#D35347;}

#container { padding:8px 0;}

.small-nav { color:#978b48; padding-bottom:20px; }
.small-nav a{ color:#6f6636; }


#main {}
#content { float:left; width:975px; }
#sidebar { float:right; width:225px; }


.table {}
.table th{ background:#fffdfa url(../assets/th.gif) repeat-x 0 0; color:#818181; text-align: center; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}
.table #menuHeader{text-align: center;}
.table td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; text-align: center;}
.table tr.odd td{ background:#f8e8f8; }
.table tr:hover td{ background:#fff9e1; }
.table a.ico{ }

.box { background:#fbfcfc; height:100%; padding:1px; }
.box-head { background:#D35347; height:35px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-top:solid 1px #fff; }
.box-foot { background:#D35347; height:35px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-top:solid 1px #fff; }
.box-head .right{ padding-top:7px; line-height:13px;}
.box-head .right label,
.box-head .right input { float:left; }
.box-head .right label { padding:4px 0 0 0;}
.box-head .right input { margin-left:5px;}
.box-head #modalHeader{text-align: center;}

.pagging { height:20px; padding:8px 10px; line-height:19px; color:#949494; }
.pagging a{ background:url(../assets/pagging.gif) repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left:5px;  }
.pagging a:hover { border-color:#8c3521; background:#fa3A2B; color:#fff; }
.pagging span{ float:left; margin-left:5px; padding-top:2px; }


a.ico { color:#9d9c9a; font-size:10px; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; }
a.ico2 { color:#9d9c9a; font-size:10px; text-decoration: none; padding:0 0 0 14px; background-repeat:no-repeat; background-position:0 0; cursor:default;}
a.ico:hover { color:#333;}
a.del { background-image:url(../assets/del.gif)}
a.edit { background-image:url(../assets/edit.gif); margin-left:14px;}
.menuItems {cursor:pointer;}

.form { padding:15px 10px 5px 10px; }
.form label{  }
.form label span{ color:#999; font-weight: normal;}
.form .field { display:block; }
.form .inline-field .field{display:inline;}
.form .req { font-size:13px; float:right; white-space:nowrap; color:#999;  }
.form p{ text-align:center; padding-bottom:15px; }
.form .addMenuFormInputFields{ height:30px; width: 300px;}
.form .addMenuFormLabels{text-align: left; margin-left: 55px; display:block; font-weight: bold; font-size:13px; }
.form #menuCategory{margin-left: 52px; width: 150px; height:30px; }
.form #menuServings{ width: 150px; height:30px; margin-bottom: 10px;}
.form .servCatLabel{font-weight: bold; font-size:13px; }
.form #servingsLabel{margin-left: 93px;}
.form #categoryLabel{margin-left: 55px;}
.form #tableNumField{height:30px; width: 100px; margin-right:180px;}
.form #tableNumLabel{text-align: left; margin-left: 55px; font-weight: bold; font-size:13px; float: left; margin-top: 8px;} 

.size1 { width:716px; }
.size2 { width:80px; }
.size3 { width:120px; }
textarea.size1 { height:180px; }

.buttons { text-align: center; padding:10px; background:#eee; border-top:solid 1px #e0e0e0; }
.buttons .button{
	margin-left:3px;
	width: 85px;
	height: 30px;
	font-size: 10pt;
}

.box-content { padding:10px; }

.sort { border-top:solid 1px #e0e0e0; padding-top:10px; margin-top:15px;   }
.sort label{ display:block; font-weight: bold;}
.sort .field{ display:block; margin-top:5px; }
.sort select.field{ width:203px; }


.box-content p { padding-top:10px; }
.select-all{}
.select-all label{ text-decoration: underline; padding-left:4px; }

.add-button,
.add-button span { 
	float:right; 
	height:26px; 
	background:url(../assets/add-button.gif) no-repeat 0 0; 
	padding:0 0 0 28px; 
	}
.add-button span { background-position:right 0; padding:0 10px 0 0; margin-buttom: 20px;}
.add-button {font-size:12px; color:#747474; text-decoration: none; line-height:26px; }
.add-button:hover { color:#000;}



#footer { 	height:44px;
			background:#7f4b3b url(../assets/grid.png) repeat;
			line-height:44px;
			color:#fff;
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;}
#footer a{ color:#fff; }


.msg { position:relative; padding-right:35px; margin-bottom:10px; }
.msg p{ padding:9px 10px 9px 40px; font-size:12px; background-repeat:no-repeat; background-position:10px 5px;}
.msg a.close{ font-size:0; line-height:0; position:absolute; top:0; right:0; width:34px; height:34px; background:url(../assets/close.gif); text-indent: -4000px;}

.msg-ok p{ background-color:#fffac2; border:solid 1px #dbd6a2; color:#5e5c40; background-image:url(../assets/msg-ok.gif); }
.msg-error p{ background-color:#f3c598; border:solid 1px #e8b084; color:#ba4c32; background-image:url(../assets/msg-error.gif);  }

/*** CSS3 ***/
.box { -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 6px #978f6c; -webkit-box-shadow: 0 0 6px #978f6c; margin-top: 5px;}
.box-head { -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; }
.box-foot { -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; }

.field, .button { -moz-border-radius:4px; -webkit-border-radius:4px; }
.small-field, .button, .pagging a { -moz-border-radius:3px; -webkit-border-radius:3px; }

.msg p { -moz-border-radius:6px; -webkit-border-radius:6px; }

.button { -moz-box-shadow: 0 0 2px #978f6c; -webkit-box-shadow: 0 0 2px #978f6c;}

/** for image box **/
.imageBox{
	text-align: center;
}
.menuImageBox {
	
	height: 150px;
	width: 150px;
	border: 5px;
}

#imageBoxCreate {
	height: 149px;
	width: 149px;
}
.browseImage{
	padding-left: 50px;
}