/* ------------------------------------------------------------------------------
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Copyright (C) Rococo Global Technologies, Inc - All Rights Reserved 2016
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html.
* @author Team Rocket
* @version 0.01
* Version History
* [04/11/2016] 0.01 – Loregge Kandt – initial codes
* [09/07/2016] 0.07 - Loregge Kandt - edited logo and textfields in Log-in 
*/	

/*Style for the body*/
body {
	/*Overriding the margin property of body.*/
	margin: 0 !important;
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: Century Gothic;
	background-color: #FBFFB7;
}

div#section {
	text-align: center;
	float: center;
	overflow: auto;
	text-align: center;
	background-color: #FBFFB7;
	height: 100%;
	margin-right: 0%; /*9%*/
}


img#restologo{

	margin-top: 5%;
}

.inputClass{
	text-align: center;
	font-size: 100%;
	font-family: Century Gothic;
	width: 300px;
	height: 30px;
	border-radius: 5px;
}

button#loginBtn{
	font-size: 16pt;
	height: 50px;
	width: 300px;
}

button.btnClass{
	font-family: Century Gothic;
	color: #fffeee;
	background-color: #fa3A2B;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: red;
	border-radius: 5px;
}
button.btnClass:hover,
button.btnClass:focus{
    text-decoration: none;
    cursor: pointer;
	color: #FFFFA5;
    background-color: #D35347;
}

#homeDiv{
	float: left;
	margin-left: 2%;
	margin-top: 2%;
}

button#homeBtn{
	font-size: 14pt;
	height: 30px;
	width: 90px;
}



