 <!DOCTYPE html>
<html ng-app="customerApp">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title >O'KRADOL Cravings</title>
		<link rel="icon" href="../assets/resto_logo1.png" type="image/png">
		<link rel="stylesheet" href="../css/customer.css" type="text/css" media="all" />
		<link rel="stylesheet" href="../css/ngDialog.css"></script>
    	<link rel="stylesheet" href="../css/ngDialog-theme-default.min.css"></script>
	</head>
	<body ng-controller="customerMainController">
		<!-- Header -->
		<div id="header">
			<div class="shell">
				<!-- Logo + Top Nav -->
				<div id="top">
					<img id="restologo" src="../assets/resto_logo1.png" alt="O'KRADOL Cravings logo" >
					<img id="restolabel" src="../assets/resto_label2.png" alt="O'KRADOL Cravings label" >
						<div id="top-navigation">
							<span ng-controller="timeCtrl" id=clockspan>
								<label id="clock1">{{ clock | date:'medium'}}</label>
							</span>
							<span>|</span>
							<span ng-controller="trayController">
								<button class= btnClass href="" ng-click="openModal()">Tray</button>
							</span>
							<span>|</span>
							<button class= btnClass  ng-click="openLogin()">Log in</button>
						</div>
				</div>
				<!-- End Logo + Top Nav -->
		
				<!-- Main Nav -->
				<div id="navigation" ng-controller="tabsCtrl">
					<ul>
			    		<!-- <li ng-repeat="tab in tabs" 
                		ng-class="{active:isActiveTab(tab.url)}" 
                		ng-click="onClickTab(tab)"><a href="#appetizerScreen"><span>{{tab.title}}</span></a></li> --><li><a href="#homeScreen"><span>Home</span></a></li>
			    		<li><a href="#dishScreen"><span>Main Dish</span></a></li>
			    		<li><a href="#drinkScreen"><span>Drinks</span></a></li>
			    		<li><a href="#dessertScreen"><span>Dessert</span></a></li>
			    		<li><a href="#appetizerScreen"><span>Hors d'Oeuvre</span></a></li>	
			    
					</ul>
				</div>
				<!-- End Main Nav -->
			</div>
		</div>
		<!-- End Header -->

		<!-- Container -->
		<div id="container">
			<div class="shell1">
				<br />
				<!-- Main -->
				<div id="main">
			
					<!-- Content -->
					<div id="content">
						<div>
							<ng-view>  Loading...</ng-view>
						</div>
					</div>
					<!-- End Content -->
			
					<div class="cl">&nbsp;</div>			
				</div>
				<!-- End Main -->
			</div>
		</div>
		<!-- End Container -->

		<!-- Footer -->
		<div id="footer">
			<div class="shell">
				<span class="left">&copy; 2016 - O'KRADOL Cravings - Restaurant Ordering System</span>
				<span class="right">Created by Team Rocket</span>
			</div>
		</div>
		<!-- End Footer -->
	
	
		<!-- Attaching Javascript files for screen interaction.-->
		<script src="../js/common/angular.js"></script>
		<script src="../js/common/angular-animate.min.js"></script>
		<script src="../js/common/ui-bootstrap-tpls-2.1.3.min.js"></script>
		<script src="../js/common/angular-route.js"></script>
		<script src="../js/common/ngDialog.js"></script>

		<script src="../js/customer/customer_main.js"></script>
		<script src="../js/customer/customer_home.js"></script>
		<script src="../js/customer/customer_appetizer.js"></script>
		<script src="../js/customer/customer_dessert.js"></script>
		<script src="../js/customer/customer_dish.js"></script>
		<script src="../js/customer/customer_drink.js"></script>
		<script src="../js/customer/orderTray.js"></script>
	</body>
</html>