<!-- ------------------------------------------------------------------------------
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Copyright (C) Team Rocket - All Rights Reserved 2016
 * -------------------------------------------------------------------------------->
 
 <!--
* This file contains the necessary elements that will be included in the web page.
* @author Team Rocket
* @version 0.01
* Version History
* [07/06/2016] 0.01 – Loregge Kandt – initial codes
* [09/07/2016] 0.01 – Keith Edmond L. Araneta – added angular directives
-->	

<!DOCTYPE html>
<html ng-app="loginApp">
	<head>
		<title> O'kradol Cravings </title>
		<!-- Attaching the style sheet for formatting. -->
		<link rel="icon" href="../assets/resto_logo1.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="../css/login.css">
	</head>
	<body ng-controller="loginController">
		<!-- <div id="homeDiv">
				<button id="homeBtn" class= btnClass  ng-click="openHome()">Home</button>
			</div> -->
		<div id="section">
			<img id="restologo" src="..\assets\resto_logo.png" alt="O'KRADOL Cravings" > 
			<br/>
			<br/>
			<input type = "text" class = "inputClass" id = "username" placeholder="Username" name="userid" ng-model="username"/>
			<br/>
			<br/>
			<input type = "password" class = "inputClass" id = "password" placeholder="Password" name="psword" ng-model="password"/>
			<br/>
			<br/>
			<button class= "btnClass" id = "loginBtn" ng-click="login()">LOGIN</button>
		</div>
		<!-- Attaching Javascript files for screen interaction.-->
		<script src="../js/common/angular.js"></script>
		<script src="../js/common/angular-route.js"></script>
		<script src="../js/login.js"></script>
	</body>
</html>
