<!-- Box; Contains the form for adding a 'table' -->
	<!-- Box Head -->
	<div class="box-head">
		<h2>Add Table</h2>
	</div>
	<!-- End Box Head -->
	<form ng-submit="addTableItem()">
		<!-- Form -->
		<div class="form">
			
			<!--Label for the table number -->
			<p class="inline-field">
				<label id="tableNumLabel">Table No.</label> <input id="tableNumField" ng-model="tableItem.tableNumber" maxlength="30" disabled required>
			</p>
			
			<!--Label for table capacity and table status -->
			<label class="servCatLabel" id="categoryLabel">Capacity</label> 
			<label class="servCatLabel" id="servingsLabel">Status</label>
			<br/>
			
			<!--Input for the number of servings of menuItem -->
			<input id="menuCategory" ng-model="tableItem.tableCapacity" type="number" min="1" required> 
			
			<!-- Drop down list for the category of the menuItem -->
			<input id="menuServings" ng-model="tableItem.tableStatus" maxlength="30" disabled required>
		</div>	
		<!-- Form Buttons -->
		<div class="buttons">
			<input type="submit" class="button" value="Submit" />
		</div>
		<div class="box-foot"></div>
		<!-- End Form Buttons -->
		<!-- End Form -->	
	</form>
<!-- End Box -->
