<!-- Box; Contains the form for adding a 'menuItem' -->
	<!-- Box Head -->
	<div class="box-head">
		<h2>Add Menu Item</h2>
	</div>
	<!-- End Box Head -->
	<form name="form" ng-submit="storeMenuItem()">
		<!-- Form -->
		<div class="form">
			<!--ImageBox and input for the image of menuItem -->
			<div class="imageBox">
				<img ng-src="{{menuItem.imagePath}}" class="menuImageBox" id="imageBoxCreate"><br>
				<input data-file class="browseImage" id="browseImageBtnCreate" name="image" type="file" accept="image/*" ng-model="menuItem.imagePath" ng-required="addUpdate=='ADD'"><br><br>
			</div>
			
			<!--Label and input for the name of menuItem -->
			<p class="inline-field">
				<label class="addMenuFormLabels">Name</label> 
				<input class="addMenuFormInputFields" id="menuNameField" ng-model="menuItem.menuItemName" type="text" placeholder="E.g. Italian Spaghetti" maxlength="30" required>
			</p>
			
			<!--Label for the category and number of servings of menuItem -->
			<label class="servCatLabel" id="categoryLabel">Category</label> 
			<label class="servCatLabel" id="servingsLabel">No. of Servings</label>
			<br/>
			
			<!-- Drop down list for the category of the menuItem -->
			<select id="menuCategory"  ng-model="menuItem.category" ng-options="categoryItem.displayValue for categoryItem in categoryArray">
				<!-- Options are created programatically. -->
			</select>
			
			<!--Input for the number of servings of menuItem -->
			<input id="menuServings" ng-model="menuItem.servings" type="number" required> 
			<br/>
			
			<!--Label and input for the price of menuItem -->
			<p class="inline-field">
				<label class="addMenuFormLabels">Price</label>
				<input class="addMenuFormInputFields" id="menuPriceField" name="input" ng-model="menuItem.price" type="number" min="0" step="0.01" placeholder="E.g. 120.00" required >
			</p>
		</div>	
		<!-- Form Buttons -->
		<div class="buttons">
			<input type="submit" class="button" value="Submit" />
		</div>
		
		<!-- End Form Buttons -->
		<!-- End Form -->	
	</form>
	<div class="box-foot"></div>
<!-- End Box -->
