<!-- Contains the 'Table' screen -->
<a href="" class="add-button" ng-click="openModal()"><span>Add Table</span></a>
<br/> <br/>
<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Table</h2>
		<div class="right">
			<label>Search Tables</label>
			<input ng-model="searchTextTable" ng-change= "filteringSearchTable()" type="text" class="field small-field" placeholder="Table No./Capacity/Status" required>
			<input type="submit" class="button" value="Search"/>
		</div>
	</div>
	<!-- End Box Head -->	

	<!-- Table -->
	<div class="table" >
		<form name= "screenTableForm">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th width = "305px"> Table No. </th>
						<th width = "305px"> Capacity </th>
						<th width = "305px"> Status </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in filteredArrayTable">
						<td>{{ x.tableNumber }}</td>
						<td>{{ x.tableCapacity }}</td>
						<td>{{ x.tableStatus }}</td>
					</tr>
				</tbody>
			</table>
		</form>
						
	</div>
	<!-- Table -->
					
</div>
<!-- End Box -->
