<!-- Contains the 'Menu' screen-->
<a href="" class="add-button" ng-click="openModal()"><span>Add Menu Item</span></a>
<br/> <br/>
<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Menu Items</h2>
		<div class="right">
			<label>Search Menu Items</label>
			<input type="text" class="field small-field" ng-model="searchInput" ng-change="filterTableContent()" placeholder="Name/Status/Category" required>
			<input type="submit" class="button" value="Search"/>
		</div>
	</div>
	<!-- End Box Head -->	

	<!-- Table -->
	<div class="table" >
		<form id="screenMenuForm">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th>Menu Name</th>
					<th>No. of Servings</th>
					<th>Price</th>
					<th>Status</th>
					<th>Category</th>
					<th width="110" class="ac">Content Control</th>
				</tr>	
				<tr ng-repeat="menuItem in menuItemListHolder">
					<td>{{menuItem.menuItemName}}</td>
					<td>{{menuItem.servings}}</td>
					<td>{{menuItem.price}}</td>
					<td>{{menuItem.status}}</td>
					<td>{{menuItem.category}}</td>
					<td>
						<a href="" class="ico del" ng-click="deleteMenuItem(menuItem.id)">Delete</a>
						<a href="" class="ico edit" ng-click="loadMenuItem(menuItem.id)">Edit</a>
					</td>
				</tr>	
			</table>
		</form>						
	</div>
	<!-- Table -->
					
</div>
<!-- End Box -->