<!-- Contains the 'Order' screen-->
<!-- Box -->
<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Order</h2>
		<div class="right">
			<label>Search Orders</label>
			<input ng-model="searchTextOrder" ng-change = "filteringSearchOrder()" type="text" class="field small-field" placeholder="Status" required>
			<input type="submit" class="button" value="Search"/>
		</div>
	</div>
	<!-- End Box Head -->	

	<!-- Table -->
	<div class="table" >
		<form name = "screenOrderForm">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th rowspan = "2">Order No.</th>
						<th rowspan = "2">Table No.</th>
						<th rowspan = "2">TimeStamp</th>
						<th rowspan = "2">Menu</th>
						<th rowspan = "2">Total Cost</th>
						<th rowspan = "2">Status</th>
						<th width="110" class="ac">Content Control</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in filteredArrayOrder">
						<td>{{ x.orderNumber }}</td>
						<td>{{ x.tableNumber }}</td>
						<td>{{ x.orderTimestamp }}</td>
						<td class= "menuItems"><!--{{ listMenuItems(x.menuItems) }}--><a href="" ng-click="openModal($index)">View</a></td>
						<td>{{ x.totalCost }}</td>
						<td>{{ x.status }}</td>
						<td><a href="" ng-show = "x.status == 'Cancelled'" class="ico del" ng-click="deleteOrder(x.id)">Delete</a>
							<a href="" ng-show = "x.status != 'Cancelled'" class="ico2">Delete</a></td>
					</tr>	
				</tbody>
			</table>
		</form>					
	</div>
	<!-- Table -->			
</div>
<!-- End Box -->
