<!-- Box; Contains the form for displaying menu items -->
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Menu List</h2>
		</div>
		<!-- End Box Head -->
		<!-- Form -->
		<div class="form">	
			<div class="table-container">	
				<table width="100%" border="0" cellspacing="0" cellpadding="0">									
					<tr>
						<th width="5%" class="actions-td"> NO. </th>
						<th width="25%" class="actions-td"> MENU </th>
						<th width="15%" class="actions-td"> PRICE </th>
						<th width="15%" class="actions-td"> QUANTITY </th>
					</tr>
				</table>		
				<div class="table table-height-tray" >
					<table width="100%" border="0" cellspacing="0" cellpadding="0">									
						<tr ng-repeat="x in menuOrderList">
							<td width="5%">{{$index + 1}} </td>
							<td width="28%">{{x.menuName}} </td>
							<td width="15%">{{x.price}} </td>
							<td width="15%">{{x.menuQuantity}} </td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- End Form -->	
		<div class="box-foot"></div>
	</div>
	<!-- End Box -->