<!-- Box; Contains the form for adding a 'table' -->
	<!-- Box Head -->
	<div class="box-head">
		<h2>Confirmation</h2>
	</div>
	<!-- End Box Head -->
	<form ng-submit="confirmTable()">
		<!-- Form -->
		<div class="form">
			<div class="cl">&nbsp;</div>
			<div class="cl">&nbsp;</div>
			<p>You chose table no. </p>
			<div class="tableData">
				<label class="tnum">{{ table.tableNumber }}</label>
				<div class="cl">&nbsp;</div>
				<label class="tcap">Table for {{ table.tableCapacity }}</label>
			</div>
			<div class="cl">&nbsp;</div>
			<div class="cl">&nbsp;</div>
			<p>
				Are you sure you want to continue ?
			</p>
		</div>	
		<!-- Form Buttons -->
		<div class="buttons">
			<input type="submit" class="button" value="Yes" />
			<input type="button" class="button" value="No" ng-click="closeModal()"/>
		</div>
		<!-- End Form Buttons -->
		<!-- End Form -->	
	</form>
	<div class="box-foot"></div>
<!-- End Box -->
