<!-- Contains the 'Appetizer Screen' screen	-->	
<div class="content-screen" id="appetizerScreen">
	<div class="cl">&nbsp;</div>
	<div class="right">
		<label class="search-label-menuItem" > Search</label>
		<input type="text" ng-model="searchMenuItem"  ng-change="filteringSearchMenuItem()" class="field search-menuItem" placeholder="Appetizer Name / Status" required>
	</div>
	<div class="cl">&nbsp;</div>
	<div class="menuItemDisplayDiv">
		<table>
		    <tr ng-repeat="appetizer in appetizerItemListHolder" ng-model="appetizerItemListHolder" ng-hide="$index%2">
		        <td>
		        	<div class="menuItemTD">
		        		<div class="box-head-menuItem" >
		        			<h2>{{appetizerItemListHolder[$index].menuItemName}}</h2>
		        		</div>
		        		<div class="menuItemImageDisplayDiv">
							<img class="menuItemImage" ng-click="appetizerItemListHolder[$index].status == 'available' && openModal(appetizerItemListHolder[$index].id)" ng-src="{{appetizerItemListHolder[$index].imagePath}}" id = "{{appetizerItemListHolder[$index].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{appetizerItemListHolder[$index].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="appetizerItemListHolder[$index].status == 'available'" ng-click="openModal(appetizerItemListHolder[$index].id)">
								<label ng-hide="appetizerItemListHolder[$index].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		        <td ng-hide="!appetizerItemListHolder[$index+1]" >
		           <div class="menuItemTD" id="menuItemRight">
		           		<div class="box-head-menuItem" >
		        			<h2>{{appetizerItemListHolder[$index+1].menuItemName}}</h2>
		        		</div>
			        	<div class="menuItemImageDisplayDiv" >
							<img class="menuItemImage" ng-click="appetizerItemListHolder[$index+1].status == 'available' && openModal(appetizerItemListHolder[$index+1].id)" ng-src="{{appetizerItemListHolder[$index+1].imagePath}}" id = "{{appetizerItemListHolder[$index+1].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{appetizerItemListHolder[$index+1].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="appetizerItemListHolder[$index+1].status == 'available'" ng-click="openModal(appetizerItemListHolder[$index+1].id)">
								<label ng-hide="appetizerItemListHolder[$index+1].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		    </tr>
		</table>
	</div>	
</div>
