<!-- Contains the 'Home Screen' screen-->			
<div class="content-screen" id="homeScreen">
	<div class="left">
		<div class="gallery">
			<gallery ng-model="gallery"></gallery>
		</div>
	</div>
	<!-- Sidebar -->
	<div id="sidebar">
		
		<!-- Box -->
		<div class="box">
	
			<!-- Box Head -->
			<div class="box-head" >
				<h2 ng-hide="hasChosenATable">Choose Table</h2>
				<h2 ng-show="hasChosenATable">Chosen Table</h2>
				
			</div>
			<!-- End Box Head-->
					
			<div class="box-content" >
				<div class="cl">&nbsp;</div>
				<label class="search-label" ng-hide="hasChosenATable" >Search Table</label>
				<input type="number" ng-hide="hasChosenATable" ng-model="searchTextTable" min="1" ng-change="filteringSearchTable()" class="field small-field" placeholder="Table Capacity" required>
				<label class="timer"  ng-show="hasChosenATable" >Time to cancel: {{ timeToCancel | date:'mm:ss'}}</label>
			</div>
			<div class="table table-height-selectTable" >
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr ng-repeat="x in filteredArrayTable">
							<td >
								<label class="tnum">{{ x.tableNumber }}</label>
								<div class="cl">&nbsp;</div>
								<label>Table for {{ x.tableCapacity }}</label>
							</td>
							<td>
								<a href="" class="ico" ng-click="selectTable(x.id)" ng-hide="hasChosenATable">Choose</a>
								<button class="ico" ng-click="cancelTable(x.id)" ng-show="hasChosenATable" ng-disabled="cannotCancel">Cancel</button>
							</td>
						</tr>	
					</tbody>
				</table>
			</div>		
		</div>
		<!-- End Box -->
	</div>
	<!-- End Sidebar -->
</div>