<!-- Contains the 'Dessert Screen' screen-->			
<div class="content-screen" id="dessertScreen">
	<div class="cl">&nbsp;</div>
	<div class="right">
		<label class="search-label-menuItem" > Search</label>
		<input type="text" ng-model="searchMenuItem"  ng-change="filteringSearchMenuItem()" class="field search-menuItem" placeholder="Dessert Name / Status" required>
	</div>
	<div class="cl">&nbsp;</div>
	<div class="menuItemDisplayDiv">
		<table>
		    <tr ng-repeat="dessert in dessertItemListHolder" ng-model="dessertItemListHolder" ng-hide="$index%2">
		        <td>
		        	<div class="menuItemTD">
		        		<div class="box-head-menuItem" >
		        			<h2>{{dessertItemListHolder[$index].menuItemName}}</h2>
		        		</div>
		        		<div class="menuItemImageDisplayDiv">
							<img class="menuItemImage" ng-click="dessertItemListHolder[$index].status == 'available' && openModal(dessertItemListHolder[$index].id)" ng-src="{{dessertItemListHolder[$index].imagePath}}" id = "{{dessertItemListHolder[$index].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{dessertItemListHolder[$index].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="dessertItemListHolder[$index].status == 'available'" ng-click="openModal(dessertItemListHolder[$index].id)">
								<label ng-hide="dessertItemListHolder[$index].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		        <td ng-hide="!dessertItemListHolder[$index+1]" >
		           <div class="menuItemTD" id="menuItemRight">
		           		<div class="box-head-menuItem" >
		        			<h2>{{dessertItemListHolder[$index+1].menuItemName}}</h2>
		        		</div>
			        	<div class="menuItemImageDisplayDiv" >
							<img class="menuItemImage" ng-click="dessertItemListHolder[$index+1].status == 'available' && openModal(dessertItemListHolder[$index+1].id)" ng-src="{{dessertItemListHolder[$index+1].imagePath}}" id = "{{dessertItemListHolder[$index+1].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{dessertItemListHolder[$index+1].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="dessertItemListHolder[$index+1].status == 'available'" ng-click="openModal(dessertItemListHolder[$index+1].id)">
								<label ng-hide="dessertItemListHolder[$index+1].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		    </tr>
		</table>
	</div>	
</div>


	