<!-- Contains the 'Dish Screen' screen-->			
<div class="content-screen" id="dishScreen">
	<div class="cl">&nbsp;</div>
	<div class="right">
		<label class="search-label-menuItem" > Search</label>
		<input type="text" ng-model="searchMenuItem"  ng-change="filteringSearchMenuItem()" class="field search-menuItem" placeholder="Dish Name / Status" required>
	</div>
	<div class="cl">&nbsp;</div>
	<div class="menuItemDisplayDiv">	
		<table>
		    <tr ng-repeat="dish in dishItemListHolder" ng-hide="$index%2">
		        <td>
		        	<div class="menuItemTD">
		        		<div class="box-head-menuItem" >
		        			<h2>{{dishItemListHolder[$index].menuItemName}}</h2>
		        		</div>
		        		<div class="menuItemImageDisplayDiv">
							<img class="menuItemImage" ng-click="dishItemListHolder[$index].status == 'available' && openModal(dishItemListHolder[$index].id)" ng-src="{{dishItemListHolder[$index].imagePath}}" id = "{{dishItemListHolder[$index].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{dishItemListHolder[$index].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="dishItemListHolder[$index].status == 'available'" ng-click="openModal(dishItemListHolder[$index].id)">
								<label ng-hide="dishItemListHolder[$index].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		        <td ng-hide="!dishItemListHolder[$index+1]" >
		           <div class="menuItemTD" id="menuItemRight">
		           		<div class="box-head-menuItem" >
		        			<h2>{{dishItemListHolder[$index+1].menuItemName}}</h2>
		        		</div>
			        	<div class="menuItemImageDisplayDiv" >
							<img class="menuItemImage" ng-click="dishItemListHolder[$index+1].status == 'available' && openModal(dishItemListHolder[$index+1].id)" ng-src="{{dishItemListHolder[$index+1].imagePath}}" id = "{{dishItemListHolder[$index+1].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{dishItemListHolder[$index+1].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="dishItemListHolder[$index+1].status == 'available'" ng-click="openModal(dishItemListHolder[$index+1].id)">
								<label ng-hide="dishItemListHolder[$index+1].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		    </tr>
		</table>
	</div>	
</div> 