<!-- Box; Contains the form for adding a 'menuItem' -->
<div class="modal-container">
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Tray</h2>
		</div>
		<!-- End Box Head -->
		<!-- Form -->
		<div class="form">	
			<div class="table-container">	
				<label>Input Amount:</label>
				<input id="inputPrice" type="number" ng-model="inputPrice" ng-init="0">
			</div>
			<!-- Form Buttons -->
			<div class="buttons">
				<div>
					<label>Total Price:</label>
					<input id="inputPrice" type="number" ng-model="totalCost" ng-init="0" disabled>
				</div>
				<div class="cl">&nbsp;</div>
				<input type="button" class="button" value="Pay"	ng-click="payOrder()">
			</div>
			<!-- End Form Buttons -->
		</div>
		<!-- End Form -->	
		<div class="box-foot"></div>
	</div>
	<!-- End Box -->
</div>