<!-- Box; Contains the modal of every "menu item" -->
<!-- Box Head -->
<div class="box-head">
	<h2 id="productName" value="val1" name="name" ng-model="name">{{menuItem.menuItemName}}</h2>
</div>
<!-- End Box Head -->
<form name ="form" ng-submit="addDishToTray(menuItem)">
	<!-- ng-submit="storeMenuItem()"> -->
	<!-- Form -->
	<div class="form">
		<div class="menuItemDiv" >
			<img class="menuItemImage" ng-src="{{menuItem.imagePath}}" alt="image">
		</div>
		<div class="priceDiv">
			<label class="priceLbl">PRICE: P </label>
			<label id="priceLbl1" name="price" ng-model="price">{{menuItem.price}}</label><br>
		</div>
		<!-- Form Buttons -->
		<div class="buttons">
			<input type="submit" class="button" id="modalBtn" value="Add To Tray">
		</div>
	</div>
	<!-- End Form Buttons -->
	<!-- End Form -->
</form>
<div class="box-foot"></div>
<!-- End Box -->
