<!-- Box; Contains the modal of every "menu item" -->
	<!-- Box Head -->
	<div class="box-head">
		<h2>Appetizer's Name</h2>
	</div>
	<!-- End Box Head -->
	<form > <!-- ng-submit="storeMenuItem()"> -->
		<!-- Form -->
		<div class="form">
			<!--ImageBox and input for the image of menuItem -->
			<div class="modal-content">
				<!-- <img id="prodImage"  src="{{appetizer.src}}" alt="image"> -->
			</div>
			
			<!--Label and input for the name of menuItem -->
			<p class="inline-field">
				<label class="addMenuFormLabels">Name : ""</label> 
			</p>
			
			<!--Label for the  number of servings of the Item -->
			<label class="servCatLabel" id="servingsLabel">No. of Servings</label>
			<!--Input for the number of servings of menuItem menuItem.servings-->
			<input id="menuServings" ng-model="" type="number" required> 
			<br/>
			
			<!--Label and input for the price of menuItem -->
			<p class="inline-field">
				<label class="addMenuFormLabels">Price</label>
			</p>
		</div>	
		<!-- Form Buttons -->
		<div class="buttons">
			<input type="submit" class="button" value="Add Item" />
		</div>
		<div class="box-foot"></div>
		<!-- End Form Buttons -->
		<!-- End Form -->	
	</form>
<!-- End Box -->
