<!-- Contains the 'Drinks Screen' screen-->			
<div class="content-screen" id="drinkScreen">
	<div class="cl">&nbsp;</div>
	<!--  <div class="left">
		<img alt="Drinks Label" src="../assets/drinks_label.png" class="category-label">
	</div>-->
	<div class="right">
		<label class="search-label-menuItem" > Search</label>
		<input type="text" ng-model="searchMenuItem"  ng-change="filteringSearchMenuItem()" class="field search-menuItem" placeholder="Drink Name / Status" required>
	</div>
	<div class="cl">&nbsp;</div>
	<div class="menuItemDisplayDiv">
		<table>
		    <tr ng-repeat="drink in drinkItemListHolder" ng-model="drinkItemListHolder" ng-hide="$index%2">
		        <td>
		        	<div class="menuItemTD">
		        		<div class="box-head-menuItem" >
		        			<h2>{{drinkItemListHolder[$index].menuItemName}}</h2>
		        		</div>
		        		<div class="menuItemImageDisplayDiv">
							<img class="menuItemImage" ng-click="drinkItemListHolder[$index].status == 'available' && openModal(drinkItemListHolder[$index].id)" ng-src="{{drinkItemListHolder[$index].imagePath}}" id = "{{drinkItemListHolder[$index].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{drinkItemListHolder[$index].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="drinkItemListHolder[$index].status == 'available'" ng-click="openModal(drinkItemListHolder[$index].id)">
								<label ng-hide="drinkItemListHolder[$index].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		        <td ng-hide="!drinkItemListHolder[$index+1]" >
		           <div class="menuItemTD" id="menuItemRight">
		           		<div class="box-head-menuItem" >
		        			<h2>{{drinkItemListHolder[$index+1].menuItemName}}</h2>
		        		</div>
			        	<div class="menuItemImageDisplayDiv" >
							<img class="menuItemImage" ng-click="drinkItemListHolder[$index+1].status == 'available' && openModal(drinkItemListHolder[$index+1].id)" ng-src="{{drinkItemListHolder[$index+1].imagePath}}" id = "{{drinkItemListHolder[$index+1].id}}">
						</div>
						<div class="box-foot-menuItem" >
							<div class="left">
								<h2>Price: {{drinkItemListHolder[$index+1].price}}</h2>
							</div>
							<div class="right">
								<input id="orderBtn" type="button" class="button" value="Order" ng-show="drinkItemListHolder[$index+1].status == 'available'" ng-click="openModal(drinkItemListHolder[$index+1].id)">
								<label ng-hide="drinkItemListHolder[$index+1].status == 'available'" class="NA-label">* Not Available</label>
							</div>
						</div>
					</div>
		        </td>
		    </tr>
		</table>
	</div>	
</div>
