<!-- Box; Contains the form for adding a 'menuItem' -->
<div class="modal-container">
	<div class="box">
		<!-- Box Head -->
		<div class="box-head">
			<h2>Tray</h2>
		</div>
		<!-- End Box Head -->
		<!-- Form -->
		<div class="form">	
			<div class="table-container">	
				<table width="100%" border="0" cellspacing="0" cellpadding="0">									
					<tr>
						<th width="5%" > # </th>
						<th width="25%" class="actions-td"> ORDER </th>
						<th width="15%" class="actions-td"> TYPE </th>
						<th width="15%" class="actions-td"> PRICE </th>
						<th width="20%" class="actions-td"> ACTIONS </th>
					</tr>
				</table>		
				<div class="table table-height-tray" >
					<table width="100%" border="0" cellspacing="0" cellpadding="0">									
						<tr ng-repeat="orderItem in orderMenuItemList">
							<td width="5%">{{$index + 1}} </td>
							<td width="28%">{{orderItem.menuItemName}} </td>
							<td width="14%">{{orderItem.category}}</td>
							<td width="13%">{{orderItem.price}}</td>
							<td width="10%">
								<a href="" class="del" ng-click="removeOrderItem(orderItem)" value="{{orderItem}}">Remove</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- Form Buttons -->
			<div class="buttons">
				<div>
					<label>Total Price:</label>
					<input id="inputPrice" type="number" ng-model="totalCost" ng-init="0" disabled>
				</div>
				<div class="cl">&nbsp;</div>
				<input type="button" class="button" value="Submit" ng-click="submitOrder()">
				<input type="button" class="button" value="Pay"	ng-click="payOrderConfirm()">
				<input type="button" class="button" value="Cancel" ng-click="cancelOrder()" ng-disabled="cannotCancel" id="cancelBtnID">
			</div>
			<!-- End Form Buttons -->
		</div>
		<!-- End Form -->	
		<div class="box-foot"></div>
	</div>
	<!-- End Box -->
</div>